@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
} */

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  /* border-bottom: 1px solid rgba(137, 136, 136, 0.364); */
  box-shadow: 0 0 8px 0 #00000031;
  position: fixed;
  width: 100%;
  top: 0;
}

nav .menu button {
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 18px auto;
  cursor: pointer;
}

.sidemenu {
  width: 30%;
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100%;
  padding: 50px 30px;
  transition: all 0.5s ease;
}

.sidemenu.open {
  right: 0;
}

.sidemenu .close {
  width: 25px;
  height: 25px;
  background-color: #b81212;
  color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu ul a {
  display: block;
  text-decoration: none;
  padding: 10px 5px;
  color: #000;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidemenu ul li:last-child a {
  border-bottom: 0;
}

.sidemenu ul a:hover {
  background-color: blue;
}

h1 {
  color: blue;
  font-size: 25px;
  display: block;
  /* padding-left: 100px; */
}

nav ul {
  display: flex;
  width: 40%;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  margin: 15px auto;
}

nav ul li {
  display: block;
  padding: 5px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

nav ul li:not(.loginPage) a:hover {
  color: blue;
}

nav ul li.loginPage {
  background-color: blue;
  border-radius: 5px;
}

.home {
  margin: 70px auto 0;
  padding: 60px 0 110px;
  text-align: center;
  background-color: white;
}

.home h2 {
  font-size: 40px;
}

.home p {
  color: rgb(115, 115, 115);
}

.home button {
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 5px;
}

.home button.right {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  transition: all 0.5s ease;
}

.home button.right:hover {
  background-color: rgb(0, 0, 160);
  color: white;
  border: 1px solid rgb(0, 0, 160);
}

.home button.left {
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  transition: all 0.5s ease;
}

.home button.left:hover {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.about {
  background-color: rgba(206, 206, 206, 0.305);
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 8px 0 #00000031;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card {
  margin: 0 10px;
  padding: 30px 5px 10px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
  width: 20%;
  height: 200px;
}

.card i {
  font-size: 23px;
}

.card p {
  color: rgb(115, 115, 115);
}

.card:hover {
  padding: 20px 15px;
  box-shadow: 0 8px 8px 8px #00000031;
  width: 23%;
  height: 230px;
}

.products {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.products .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products a {
  display: block;
  text-decoration: none;
  background-color: blue;
  color: white;
  width: 90px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid blue;
  transition: all 0.5s ease;
}

.products a:hover {
  background-color: white;
  color: blue;
}

.ourProducts {
  display: flex;
  flex-wrap: wrap;
}

.ourProducts .product {
  width: 30%;
  margin: 5px;
  height: 370px;
  box-shadow: 0 0 8px 0 #00000031;
  padding-bottom: 25px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.product:hover {
  width: 33%;
  height: 400px;
}

/* .product .image {
    width: 100%;
} */

.product .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.product .description {
  width: 90%;
  margin: 0 auto;
}

.product .description p {
  color: blue;
  font-weight: 700;
  font-size: 20px;
}

.product .description button {
  cursor: pointer;
  width: 96%;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px 0;
  margin: 0 2%;
  transition: all 0.5s ease;
}

.product .description button:hover {
  background-color: white;
  color: blue;
}

.contact {
  background-color: rgba(206, 206, 206, 0.305);
  padding: 40px;
  box-shadow: 0 0 8px 0 #00000031;
}

.contact h2 {
  text-align: center;
}

form {
  background-color: white;
  width: 40%;
  padding: 20px;
  margin: 40px auto 20px;
  border-radius: 5px;
}

form label,
form input {
  display: block;
  margin: 5px;
}

form input {
  margin: 0 0 15px;
  border: 1px solid rgba(138, 138, 138, 0.474);
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

form textarea {
  width: 100%;
  height: 100px;
  margin: 0 0 15px;
  border: 1px solid rgba(138, 138, 138, 0.474);
  border-radius: 5px;
}

form button {
  cursor: pointer;
  width: 100%;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px 0;
  transition: all 0.5s ease;
}

form button:hover {
  background-color: white;
  color: blue;
}

footer {
  width: 100%;
  background-color: rgb(12, 12, 46);
  color: white;
  padding: 10px 5%;
  display: flex;
  justify-content: space-around;
}

.one {
  margin: 0 10px;
}

.one h3 {
  font-size: 18px;
}

.one p {
  font-size: 15px;
  padding: 0;
  margin: 5px 3px;
  color: rgb(168, 167, 167);
}

.one p a {
  display: block;
  text-decoration: none;
  color: rgb(168, 167, 167);
  margin: 5px 3px;
}

.one ul {
  display: block;
  list-style: none;
  color: rgb(168, 167, 167);
  padding: 0;
}

.one ul li {
  margin: 5px 3px;
}

@media (max-width: 900px) {
  .card {
    width: 40%;
    margin: 10px auto;
  }

  .card:hover {
    width: 43%;
  }

  .ourProducts .product {
    width: 40%;
    margin: 10px auto;
  }

  .ourProducts .product:hover {
    width: 43%;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 70%;
    margin: 10px auto;
  }

  .card:hover {
    width: 73%;
  }

  .ourProducts .product {
    width: 70%;
  }

  .ourProducts .product:hover {
    width: 73%;
  }

  form {
    width: 90%;
  }
}
