@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(199, 198, 198, 0.442);
}

* {
  box-sizing: border-box;
}

.login {
    width: 30%;
    /* height: 440px; */
    background-color: white;
    box-shadow: 0 0 15px 0 #00000031;
    margin: 120px auto;
    padding: 30px 50px;
    border-radius: 5px;
}

.login .top {
    text-align: center;
}

.login .top p {
    color: rgb(115, 115, 115);
}

.login form label {
    display: block;
    margin: 30px 0 10px;
}

.login form input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(138, 138, 138, 0.474);
}

.login button {
    width: 100%;
    height: 35px;
    margin: 20px 0 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.login button:hover {
    background-color: white;
    color: blue;
}

.login .top a {
    text-decoration: none;
    color: blue;
}

@media (max-width: 1000px) {
    .login {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .login {
        width: 70%;
    }
}
