@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(199, 198, 198, 0.442);
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  /* border-bottom: 1px solid rgba(137, 136, 136, 0.364); */
  box-shadow: 0 0 8px 0 #00000031;
  position: fixed;
  width: 100%;
  top: 0;
}

nav .menu button {
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 18px auto;
  cursor: pointer;
}

.sidemenu {
  width: 30%;
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100%;
  padding: 50px 30px;
  transition: all 0.5s ease;
}

.sidemenu.open {
  right: 0;
}

.sidemenu .close {
  width: 25px;
  height: 25px;
  background-color: #b81212;
  color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu ul a {
  display: block;
  text-decoration: none;
  padding: 10px 5px;
  color: #000;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidemenu ul li:last-child a {
  border-bottom: 0;
}

.sidemenu ul a:hover {
  background-color: blue;
}

h1 {
  color: blue;
  font-size: 25px;
  display: block;
  /* padding-left: 100px; */
}

nav ul {
  display: flex;
  width: 40%;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  margin: 15px auto;
}

nav ul li {
  display: block;
  padding: 5px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

nav ul li:not(.loginPage) a:hover {
  color: blue;
}

nav ul li.loginPage {
  background-color: blue;
  border-radius: 5px;
}


.container {
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 90px auto 20px;
}

.container h2 {
  text-align: center;
  font-size: 35px;
}

.products {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.ourProducts {
  display: flex;
  flex-wrap: wrap;
}

.ourProducts .product {
  width: 30%;
  margin: 1%;
  height: 370px;
  box-shadow: 0 0 8px 0 #00000031;
  padding-bottom: 25px;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: white;
}

.product:hover {
  width: 33%;
  height: 400px;
}

.product .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.product .description {
  width: 90%;
  margin: 0 auto;
}

.product .description p {
  color: blue;
  font-weight: 700;
  font-size: 20px;
}

.product .description button {
  cursor: pointer;
  width: 96%;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px 0;
  margin: 0 2%;
  transition: all 0.5s ease;
}

.product .description button:hover {
  background-color: white;
  color: blue;
}

footer {
  background-color: rgb(12, 12, 46);
  color: white;
  padding: 10px 5%;
  display: flex;
  justify-content: space-around;
}

.one {
  margin: 0 10px;
}

.one h3 {
  font-size: 18px;
}

.one p {
  font-size: 15px;
  padding: 0;
  margin: 5px 3px;
  color: rgb(168, 167, 167);
}

.one p a {
  display: block;
  text-decoration: none;
  color: rgb(168, 167, 167);
  margin: 5px 3px;
}

.one ul {
  display: block;
  list-style: none;
  color: rgb(168, 167, 167);
  padding: 0;
}

.one ul li {
  margin: 5px 3px;
}

@media (max-width: 900px) {
  .ourProducts .product {
    width: 40%;
    margin: 20px auto;
  }

  .ourProducts .product:hover {
    width: 43%;
  }
}

@media (max-width: 600px) {
  .ourProducts .product {
    width: 60%;
  }

  .ourProducts .product:hover {
    width: 63%;
  }
}
